<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homework31</title>
    <link rel='stylesheet' href='.//styles/Homework31'>
    <div class='first_task'>
        <p>Ваша запись была добавлена успешно</p>
    </div>
    <div class='second_task'>
        <p>Ваша запись была удалена</p>
    </div>
    <div class='third_task'>
        <p>Ваша запись была изменена успешно</p>
    </div>
    
</head>
<body>
    
</body>
</html>