.first_task {
    color: red;
    font-size: 63px;
    text-align: center;
    
}

.second_task {
    color: aqua;
    font-size: 63px;
    text-align: center;

}

.third_task {
    color: blue;
    font-size: 66px;
    text-align: center;
}